.picImg {
    height: 40em;
    width: 28em;
    border: 1px solid black;
    border-radius: 1em;
    object-fit: cover;
}

.picBtn {
    height: 2em;
    width: 2em;

}

.picBtn img {
    width: 1.5em;
    height: 1.5em;
}

.btnContainer {
    display: flex;
    margin-right: 1em;
}

.picText {
    color: black;
    text-align: left;
}

.itemBar {
    display: flex;
    background-color: #d9d9d991;
    position: relative;
    bottom: 4.8em;
    height: 4.5em;
    padding: 1em 0 0 1em;
    justify-content: space-between;
}

.picContainer {
    width: 28em;
    margin: 5em 2em 5em 2em;
    height: 35em;
}