.searchbar {
    border: 1px solid black;
    background-color: #EBEBEB;
    border-radius: 0.5em;
    height: 3em;
    width: 15em;
    color: #582B0B;
    padding: 1em;
}

.searchContainer {
    display: flex;
    position: relative;
    top: 20em;
    justify-content: center;
    margin-top: 5em;
}

.btnErase {
    position: relative;
    right: 1.2em;
    color: #582B0B;
    font-weight: bold;

}

@media (width > 800px) {
    .searchbar {
        width: 40em;
    }
}