footer{
    color: #582B0B;
    display: flex;
    justify-content: space-between;
    height: 9em;
    padding: 3em 3em 1em 3em;
    font-family: Trirong;
    
}

span{
    display: block;
}

.footer_container1{
    width: 20em;
    text-align: left;
}

.footer_container2{
    display: flex;
    justify-content: space-around;
    width: 8em;
}

.icon{
    height: 2.5em;
}

.gradB {
    background-image: linear-gradient(white, #D09E53);
  }

  @media (width > 800px) {
    footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}